
.logo {
  font-weight: bold;
  font-size: 1.5rem;
}


.hero-text h1 {
  font-size: 2rem;
  font-weight: bold;
}

.btn-primary-custom {
  background: #153a26;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 4px;
}

button{
  background: #153a26;;
}

.hero-img .img-placeholder {
  height: 250px;
  width: 100%;
  background-color: #d9e5d1;
  border-radius: 12px;
}


.feature-box {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px 0;
}
.icon-placeholder {
  width: 50px;
  height: 50px;
  background: #d9e5d1;
  margin: 0 auto 10px;
  border-radius: 6px;
}

.how-it-works {
  margin-top: 50px;
}
.step-box {
  text-align: center;
}
.arrow {
  font-size: 24px;
  font-weight: bold;
  width: 40px;
  text-align: center;
}

.for-section {
  margin-top: 50px;
}
.for-farmers, .for-merchants {
  padding: 20px;
  border-radius: 8px;
}
.for-farmers {
  background: #f0f5f0;
}
.for-merchants {
  background: #153a26;
  color: #fff;
}

.buttons-row {
  margin-top: 20px;
}
.btn-outline-custom {
  background: none;
  border: 1px solid #153a26;
  color: #153a26;
  padding: 10px 18px;
  border-radius: 4px;
}
